<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSET LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>
    <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="/public/css/PJ-All.css">
</head>

<body class="bgc1">
    <nav class="m-5 p-2">
        <div class="row px-4">
            <div class="col-3 h2 textc1">
                ASSET LIST
            </div>
            <div class="col text-end h4 pt-2">
                <a href="/HISTORY" class="textc1">HISTORY</a>
                <a href="/DASHBOARD" class="ms-3 textc1">DASHBOARD</a>
                <a href="/REQUEST_STATUS" class="ms-3 textc1">REQUEST STATUS</a>
                <a class="text-danger ms-3 textc1" onclick='logout()'>LOG OUT</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 table1">
            <h1 class="text-white text-center my-2">ASSET LIST</h1>
            <table class="table table-striped text-center table-light">
                <thead>
                    <tr>
                        <th>AssetID</th>
                        <th>Model</th>
                        <th>Borrower</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>

    <script>

        async function getMotorcycles() {
            try {
                const response = await fetch('/ld-ASSET_LIST');
                if (response.ok) {
                    const data = await response.json();
                    let table = '';
                    data.forEach(function (m) {
                        table += `<tr><td>${m.MotorcycleID}</td><td>${m.Model}</td>`
                        switch (m.Status) {
                            case 1:
                                table += `<td></td><td><div class="bg-success rounded-pill badge">Available</div></td></tr> `
                                break;
                            case 2:
                                table += `<td></td><td><div class="bg-danger rounded-pill badge">Disabled</div></td></tr> `
                                break;
                            case 3:
                                table += `<td>${m.Borrowername}</td><td><div class="bg-warning rounded-pill badge">Borrowing</div></td></tr> `
                                break;
                            case 4:
                                table += `<td>${m.Borrowername}</td><td><div class="bg-secondary rounded-pill badge">Pending</div></td></tr> `
                                break;
                        };
                    });
                    tbody.innerHTML = table;

                }
                else if (response.status === 401) {
                    const data = await response.text();
                    throw Error(data);
                }
                else {
                    throw Error('Connection error');
                }
            } catch (error) {
                Swal.fire({
                    "icon": "error",
                    "title": error.message
                });
            }
        }

        getMotorcycles()

        function logout() {
            // alert(".");
            Swal.fire({
                title: 'Log out',
                showCancelButton: true,
                confirmButtonText: 'confirm',
            }).then(function (result) {
                if (result.value) {
                    window.location.href = '/logout';
                }
            });
        }
    </script>
</body>

</html>