<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RETURN ASSET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>

    <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script> -->
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/public/css/PJ-All.css">

</head>

<body class="bgc1">
    <nav class="m-5 p-2">
        <div class="row px-4">
            <div class="col-3 h2 textc1">
                RETURN ASSET
            </div>
            <div class="col text-end h4 pt-2">
                <a href="/ASSET_LIST" class="textc1">ASSET LIST</a>
                <a href="/HISTORY" class="ms-3 textc1" >HISTORY</a>
                <a href="/DASHBOARD" class="ms-3 textc1">DASHBOARD</a>
                <a class="text-danger ms-3 textc1" onclick='logout()'>LOG OUT</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 table1">
            <h1 class="text-white text-center my-2">RETURN ASSET</h1>
            <table class="table table-striped text-center table-light">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Model</th>
                        <th>Borrower</th>
                        <th>Date/return Date</th>
                        <th>Lender</th>
                        <th>Recall Asset</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                    <tr>
                        <td>1</td>
                        <td>Wave 110 i</td>
                        <td>Ethan</td>
                        <td>23/03/2567 - 25/03/2567</td>
                        <td>Noah</td>
                        <td>
                            <button class="btn btn-primary" style="border-radius: 20px;"
                                onclick='btnreturn()'>Return</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Honda pcx 160</td>
                        <td>Ethan</td>
                        <td>27/03/2567 - 28/03/2567</td>
                        <td>Oliver</td>
                        <td>
                            <button class="btn btn-primary" style="border-radius: 20px;">Return</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Vespa Sprint S 150 i-Get ABS</td>
                        <td>Ethan</td>
                        <td>10/04/2567 - 18/04/2567</td>
                        <td>Noah</td>
                        <td>
                            <button class="btn btn-primary" style="border-radius: 20px;">Return</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</body>
<script>
     async function getBooking() {
            try {
                const response = await fetch('/st-RETURN_ASSET');
                if (response.ok) {
                    const data = await response.json();
                    let table = '';
                    data.forEach(function (b) {
                        if (b.ReturnStatus == 2&& b.BorrowerName!=b.StaffName) {
                            table += `<tr>
                        <td>${b.BookingID}</td>
                        <td>${b.Model}</td>
                        <td>${b.BorrowerName}</td>
                        <td>${b.Pickup} - ${b.Dropoff}</td>
                        <td>${b.OwnerName}</td>
                        <td>
                            <button class="btn btn-primary" style="border-radius: 20px;"
                                onclick='btnreturn(${b.BookingID})'>Return</button>
                        </td>`;
                        }
                    });
                    tbody.innerHTML = table;
                }
                else if (response.status === 401) {
                    const data = await response.text();
                    throw Error(data);
                }
                else {
                    throw Error('Connection error');
                }
            } catch (error) {
                Swal.fire({
                    "icon": "error",
                    "title": error.message
                });
            }
        }

        getBooking();

    function logout() {
        // alert(".");
        Swal.fire({
            title: 'Log out',
            showCancelButton: true,
            confirmButtonText: 'confirm',
        }).then(function (result) {
            if (result.value) {
                window.location.href = '/logout';
            }
        });
    }
    function btnreturn(BookingID) {
        Swal.fire({
            title: "Are you sure?",
            text: "Has the customer already returned the product?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then(async(result) => {
            if (result.isConfirmed) {
                try {
                        const response = await fetch(`/Return/${BookingID}`);
                        if (response.ok) {
                            getBooking();
                        }
                        else if (response.status === 401) {
                            const data = await response.text();
                            throw Error(data);
                        }
                        else {
                            throw Error('Connection error');
                        }
                    } catch (error) {
                        Swal.fire({
                            "icon": "error",
                            "title": error.message
                        });
                    }
            }
        });
    }
</script>

</html>